
<h3>Search results for: @Model.term</h3>

@foreach (var album in Model.Results)
{
    <div>@album.Name by @album.Artist (@album.Genre)</div>
}

<p>
    @Html.ActionLink("See all", "Index", "Album") albums.
</p>