@model MvcApplication1.Models.SearchResult
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get)) {
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(m => m.term)
    <input type="submit" value="Search" />
 }

<h3>Search results for: @Model.term</h3>

@foreach (var album in Model.Results)
{
    <div>@album.Name by @album.Artist (@album.Genre)</div>
}

<p>
    @Html.ActionLink("See all", "Index", "Album") albums.
</p>