@model MvcApplication1.Models.Album

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<section id="addForm">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <ol>
                <li>
                    @Html.LabelFor(m=>m.Artist)
                    @Html.TextBoxFor(m=>m.Artist)
                    @Html.ValidationMessageFor(m=>m.Artist)
                </li>
                <li>
                    @Html.LabelFor(m=>m.Name)
                    @Html.TextBoxFor(m=>m.Name)
                    @Html.ValidationMessageFor(m=>m.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.Genre)
                    @Html.TextBoxFor(m=>m.Genre)
                    @Html.ValidationMessageFor(m=>m.Genre)
                </li>
                <li>
                    @Html.LabelFor(m => m.Price)
                    @Html.TextBoxFor(m=>m.Price)
                    @Html.ValidationMessageFor(m=>m.Price)
                </li>
            </ol>
            <input type="submit" value="Add" />
        </fieldset>
    }
</section>